@model List<ChatRoom.Datos.Entidades.Sala>

<div class="row">
    <div class="col-md-6">
        <h2>Subastas activas</h2>
        <ul class="list-group">
            @foreach (var sala in Model)
            {
                <li class="list-group-item">
                    <a href="~/Chat/Room?id=@sala.Id">@sala.Nombre</a>                   
                </li>
            }
        </ul>
    </div>

    <div class="col-md-6">
        <h2>Nueva sala</h2>
        <form method="post" action="~/Chat/CreateRoom">
            <div class="form-group">
                <label for="nombre">Nombre de la sala</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required />

                <label for="fotoProductoNombre">Nombre de la imagen del producto</label>
                <input type="text" class="form-control" id="fotoProductoNombre" name="fotoProductoNombre" required />
            </div>
            <button type="submit" class="btn btn-primary mt-2">Crear subasta</button>
        </form>
    </div>
</div>
