 @using ChatRoom.Datos.Entidades
 @model List<ChatRoom.Datos.Entidades.Sala>

@{
    var authenticatedUser = ViewData["AuthenticatedUser"] as Usuario;
}

<div class="row">
    <div class="col-md-6">
        <h2>Subastas activas</h2>
        <div>Estas Logueado, querés cerrar sesion?
            <a href="javascript:void(0);" id="logoutLink" onclick="document.getElementById('logoutForm').submit();" class="btn btn-link">Logout</a>
        </div>
        <form id="logoutForm" action="~/Account/Logout" method="post" style="display:none;"></form>
        <ul class="list-group">
            @foreach (var sala in Model)
            {
                <li class="list-group-item">
                    <a href="~/Chat/Room?id=@sala.Id">@sala.Nombre</a>
                </li>
            }
        </ul>
    </div>

    <div class="col-md-6">
        <h2>Nueva sala</h2>
        <form method="post" asp-action="CreateRoom">
            <div class="form-group">
                <label for="nombre">Nombre de la sala</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required />

                <label for="fotoProductoNombre">Nombre de la imagen del producto</label>
                <input type="text" class="form-control" id="fotoProductoNombre" name="fotoProductoNombre" required />
            </div>
            @if (authenticatedUser != null)
            {
                <input type="hidden" id="idVendedor" name="idVendedor" value="@authenticatedUser.Id" />
            }
            <button type="submit" class="btn btn-primary mt-2">Crear subasta</button>
        </form>
    </div>
</div>