@using ChatRoom.Datos.Entidades
@model List<Sala>

@{
    var authenticatedUser = ViewData["AuthenticatedUser"] as Usuario;
}




<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Subastas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      margin: 0;
      padding: 0;
            background-color: #E8E2FF;
    }

    .card  {
      margin-bottom: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
      background-color: #F0F8FF; /* Lilac background color */
  display: flex; /* Make .botonversala a flex container */
  justify-content: center; 
    flex-grow: grow; /* Permite que las tarjetas se ajusten dinámicamente */
    }

    .card img {
      width: 90%; /* Set image width to 90% */
      height: 200px; /* Adjust image height as needed */
      object-fit: cover; /* Ajuste de la imagen */
      text-align: center;
      margin:auto;
      margin-top: 4px;

    }

    .card-body {
      text-align: center; /* Center the content within the card body */

    }

    .botonversala {
      display: block; /* Make the button a block-level element */
      margin: 0 auto; /* Center the button horizontally */
      width: 70%; /* Set button width to 70% of the card body */
      padding: 10px 20px; /* Add some padding to the button */
      background-color: #B28BD9; /* Lilac dark color */
      color: white; /* White text color */
      border: none; /* Remove default border */
      border-radius: 5px; /* Add rounded corners */
      cursor: pointer; /* Indicate clickable behavior */
    }

    .btn-add {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
    }

    #nuevaSubastaFormContainer {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #C5C3FC;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1001;
      border-radius: 10px;
    }

    #botonversala {
      width: 90%;
      background-color: #C5C3FC;

    }
    #salasList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Opcional: ajusta según tu preferencia de distribución */
}



  </style>
</head>
<body>
    <section class="container py-5">
        <div class="row mb-3">
    <div class="col-md-6 offset-md-3">
        <input type="text" class="form-control" id="filtroNombre" placeholder="Buscar por nombre...">
    </div>
</div>

        <h2 class="text-center mb-4">Subastas Activas</h2>

        <div class="row" id="salasList">
        </div>

        @if (Model.Count == 0)
        {
                <div id="mensajeSubastasNull">
                    <p class="text-center">En este momento no hay subastas activas</p>
                </div>
        }
    </section>

    <button id="nuevaSubastaBtn" type="button" class="btn btn-primary btn-add" style="background-color: #C5C3FC; color:#4c2882; font-weight: bold;font-size: 1.2em; border-color: #fff;" data-is-authenticated="@User.Identity.IsAuthenticated.ToString().ToLower()">+</button>

    <div id="nuevaSubastaFormContainer">
        <h2 class="mb-3">Nueva Subasta</h2>
        <form id="createSalaForm" action="/Chat/Room/CreateRoom" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombre">Nombre de la sala</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="fotoProductoNombre">Imagen del Producto</label>
                <input type="file" class="form-control" id="fotoProductoNombre" name="fotoProductoNombre" required>
            </div>
            @if (authenticatedUser != null)
            {
                    <input type="hidden" id="idVendedor" name="idVendedor" value="@authenticatedUser.Id">
            }
            <button id="cancelarSubastaBtn" type="button" class="btn btn-secondary mt-2 mr-2" onclick="closeForm()">Cancelar</button>
            <button type="submit" class="btn btn-primary mt-2" style="background-color: #E8E2FF;">Crear Subasta</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/Subasta.js"></script>
    <script>
        $('#nuevaSubastaBtn').on('click', function() {
            $('#nuevaSubastaFormContainer').toggle();
        });

        function closeForm() {
            $('#nuevaSubastaFormContainer').hide();
        }
    </script>
   <script>
    $(document).ready(function() {
        $('#filtroNombre').on('input', function() {
            var valor = $(this).val().toLowerCase().trim();
            $('#salasList .card').each(function() {
                var nombreSala = $(this).find('.card-body h5').text().toLowerCase();
                if (nombreSala.includes(valor)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>

</body>
</html>

    



