@model int 
<h1>@ChatRoom.Controllers.ChatController.Rooms.GetValueOrDefault(Model)</h1>

<div class="row">
    <div class="col-12">
        <input type="text" placeholder="usuario" id="user"  />
        <input type="number" palceholder="texto" id="bid" />
        <button id="btnSend">Send bid</button>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div id="bids"></div>
    </div>
    <div class="col-6">
        <div id="notifications"></div>
    </div>

</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();
    connection.start().then(() => {
        connection.invoke("AddToGroup", "@Model")
    }).catch((e) => console.error(e));

    document.getElementById("btnSend").addEventListener("click", (event) => {
        let room = "@Model";
        let user = document.getElementById("user").value;
        let bid = document.getElementById("bid").value;

        connection.invoke("SendMessage", room, user, bid).catch((err) =>
            console.error(err.toString()));

        document.getElementById("bid").value = "";
        document.getElementById("bid").focus();


        event.preventDefault();
    });

    connection.on("RecieveMessage", (user, bid) => {
        var bid = "<div ><b>" + user + " dijo:</b> " + bid + "</div>";
        document.getElementById("bids").innerHTML = bid + document.getElementById("bids").innerHTML;
    });

    connection.on("ShowWho", (bid) => {
        var bid = "<div ><b>" + bid + "</br></div>";
        document.getElementById("notifications").innerHTML = bid + document.getElementById("notifications").innerHTML;
    });
</script>