    @using ChatRoom.Datos.Entidades
    @model ChatRoom.Datos.Entidades.Sala

    <h1>@Model.Nombre</h1>

    <div class="row">
        <form method="post" action="~/Chat/CreateOferta" id="ofertaForm">
            <div class="col-12">
                <label for="idSala">ID Sala</label>
                <input type="number" class="form-control" id="sala" name="idSala" value="@Model.Id" readonly />

                <label for="idUsuario">ID Usuario</label>
                <input type="text" class="form-control" id="user" name="idUsuario" required />

                <label for="monto">Monto</label>
                <input type="number" class="form-control" id="monto" name="monto" required />
                <button id="btnSend">Enviar Puja</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-6">
            <div id="montos">
            </div>
        </div>
        <div class="col-6">
            <div id="notifications"></div>
        </div>
    </div>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

    connection.start().then(() => {
        connection.invoke("JoinSala", "@Model.Id")
    }).catch((e) => console.error(e));

        document.getElementById("btnSend").addEventListener("click", (event) => {
     
            let salaId = "@Model.Id";
            let userId = document.getElementById("user").value;
            let monto = document.getElementById("monto").value;   
            console.log("se envio una oferta");
            console.log(connection);


        connection.invoke("AddOferta", salaId, userId, monto).catch((err) =>
            console.error(err.toString()));

        document.getElementById("monto").value = "";
        document.getElementById("monto").focus();
        event.preventDefault();
        });

    connection.on("ReceiveOferta", (ofertas) => {
        var ofertasHtml = "";
        ofertas.forEach(oferta => {
            ofertasHtml += `<div><b>Monto:</b> ${oferta.monto}, <b>Comprador:</b> ${oferta.idComprador}</div>`;
        });
        document.getElementById("montos").innerHTML = ofertasHtml;
    });

    connection.on("ShowWho", (message) => {
        var notificationHtml = `<div><b>${message}</b></div>`;
        document.getElementById("notifications").innerHTML = notificationHtml + document.getElementById("notifications").innerHTML;
    });
    </script>